body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  padding: 20px;
  background-color: #0b2434;
}

/* .header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: purple;
  text-align: center;
  align-items: center;
  padding: 0px 10px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  grid-gap: 17px;
}

input {
  outline: none;
  border-radius: 1px;
}
.form-btn {
  border-radius: 1px solid #d5d4d8;
  grid-column: 1 / 3;
}
.box {
  border: 2px solid black;
  width: 50%;
  height: 50vh;
} */
